
body {
  padding: 10px;
  font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ccc;
  background: #000;

}

a {
  color: #00B7FF;
}

  .container {
    margin: auto;
    width: 960px;
    border: 1px solid red;
  }
